<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaozhou.gymxmjpa.mapper.UserReservationMapper">

    <resultMap id="BaseResultMap" type="com.xiaozhou.gymxmjpa.entity.UserReservation">
            <id property="subId" column="sub_id" jdbcType="INTEGER"/>
            <result property="adminId" column="admin_id" jdbcType="INTEGER"/>
            <result property="subName" column="sub_name" jdbcType="VARCHAR"/>
            <result property="reservationStartTime" column="reservation_start_time" jdbcType="TIMESTAMP"/>
            <result property="reservationEndTime" column="reservation_end_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        sub_id,admin_id,sub_name,
        reservation_start_time,reservation_end_time
    </sql>

    <!-- 添加 insert 语句 -->
    <insert id="insert" parameterType="com.xiaozhou.gymxmjpa.entity.UserReservation">
        insert into user_reservation (
        <include refid="Base_Column_List"/>
        ) values (
        #{subId}, #{adminId}, #{subName}, #{reservationStartTime}, #{reservationEndTime}
        )
    </insert>

    <select id="selectData" resultType="com.xiaozhou.gymxmjpa.entity.UserReservation">
        select * from user_reservation
        where admin_id = #{adminId}
        <if test="subname != null and subname != ''">
            AND sub_name like concat('%',#{subname},'%')
        </if>
        AND admin_id = #{adminId}
    </select>
    <select id="selectDataPage" resultType="java.lang.Integer">
        select count(*) from user_reservation
        where admin_id = #{adminId}
        <if test="subname != null and subname != ''">
            AND sub_name like concat('%',#{subname},'%')
        </if>
        limit #{pageNumber},#{pageSize}
    </select>

</mapper>
